<mat-sidenav-container class="pattern-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" fixedInViewport="true">
    <mat-form-field class="color-number" >
        <mat-label>Number of Colors</mat-label>
        <input matInput [(ngModel)]="colorNumber" type="number" (change)="pickColors()">
    </mat-form-field>

    <mat-radio-group color="accent" class="color-radio" [(ngModel)]="autoColors" (change)="pickColors()">
      <mat-radio-button value=0 checked>Pick the colors for me!</mat-radio-button>
      <mat-radio-button value=1>I will choose my colors.</mat-radio-button>
    </mat-radio-group>   

    <div *ngIf="showColorPicker" class="color-selection">
      <form>
        <div *ngFor="let color of colors; let i = index; trackBy:trackByFn"> 
          <canvas id="canvas{{i}}" class="color-canvas" width="20" height="20"></canvas>
          <mat-form-field class="slider" color="accent">
            <mat-label>R</mat-label>
            <input matInput [(ngModel)]="colors[i][0]" name="{{i}}{{0}}" type="number" min=0 max=255 (ngModelChange)="draw()">
          </mat-form-field>
          <mat-form-field class="slider" color="accent">
            <mat-label>G</mat-label>
            <input matInput [(ngModel)]="colors[i][1]" name="{{i}}{{1}}" type="number" min=0 max=255 (ngModelChange)="draw()">
          </mat-form-field>
          <mat-form-field class="slider" color="accent">
            <mat-label>B</mat-label>
            <input matInput [(ngModel)]="colors[i][2]" name="{{i}}{{2}}" type="number" min=0 max=255 (ngModelChange)="draw()">
          </mat-form-field>
        </div>
      </form>
    </div>
    
    <input type="file" class="file-input"
            [accept]="requiredFileType"
            (change)="onFileSelected($event)" #fileUpload>
    
    <div class="file-upload">
      <button mat-raised-button color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        {{fileName || "No file uploaded yet."}}
      </button>
    </div>

    <button mat-flat-button color="primary" class="execute-btn"
      [disabled]="!image"
      (click)="execute()">
      Exexute
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <canvas id="canvas" #baseCanvas [attr.width]="2000" [attr.height]="2000"></canvas>
    <canvas id="invisible-canvas" #invCanvas class="invisible-canvas" [attr.width]="2000" [attr.height]="2000"></canvas>
  </mat-sidenav-content>
</mat-sidenav-container>





