<mat-sidenav-container class="pattern-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" fixedInViewport="true">
    <mat-form-field class="color-number" >
        <mat-label>Number of Colors</mat-label>
        <input matInput [(ngModel)]="colorNumber" type="number" (change)="pickColors()">
    </mat-form-field>

    <div class="dimensions">
      <mat-form-field class="dim-input" >
        <mat-label>Pattern width</mat-label>
        <input matInput [(ngModel)]="imgWidth" type="number">
      </mat-form-field>
      <mat-form-field class="dim-input">
        <mat-label>Pattern height</mat-label>
        <input matInput [(ngModel)]="imgHeight" type="number">
      </mat-form-field>
    </div>

    <mat-radio-group color="accent" class="color-radio" [(ngModel)]="autoColors" (change)="pickColors()">
      <mat-radio-button value=0 checked>Pick the colors for me!</mat-radio-button>
      <mat-radio-button value=1>I will choose my colors.</mat-radio-button>
    </mat-radio-group>   

    <div [hidden]="!showColorPicker" class="color-selection">
      <div *ngFor="let color of colors; let i = index; trackBy:trackByFn"> 
        <div style="width:20px;height:20px;" id="colorSample{{i}}" (click)="openDialog(i)"></div>
      </div>
    </div>
    
    <input type="file" class="file-input"
            [accept]="requiredFileType"
            (change)="onFileSelected($event)" #fileUpload>
    
    <div class="file-upload">
      <button mat-fab extended color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        {{fileName || "No file uploaded yet."}}
      </button>
    </div>

    <button mat-fab extended color="primary" class="execute-btn"
      [disabled]="!image"
      (click)="execute()">
      Exexute
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="canvas-container">
      <canvas id="canvas" #baseCanvas [attr.width]="768" [attr.height]="768"></canvas>
      <canvas id="invisible-canvas" #invCanvas class="invisible-canvas" [attr.width]="768" [attr.height]="768"></canvas>
      <canvas id="grid-canvas" #gridCanvas [attr.width]="768" [attr.height]="768"></canvas>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>





