
.sidenav {
    width: 320px;
    text-align: center;
}

.color-number {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 120px;
    text-align: center;
}

.dimensions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.dim-input {
    width: 100px;
    text-align: center;
    padding: 2px;
}

.color-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 20px;
}

.color-canvas {
    margin-bottom: -3px;
}

.color-selection {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slider {
    width: 60px;
    text-align: center;
}

.file-input {
    display: none;
}

.file-upload {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.execute-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canvas-container {
    height: 1004px;
    width: 1600;
}

#canvas {
    z-index: 1;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}

#invisible-canvas {
    display: none;
}

#grid-canvas {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
}
