<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">{{picture.title}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let file of picture.files" class="picture-div">
      <img 
      width="1000px"
      src="assets/images/toutou/{{file}}" alt="Photo of {{picture.title}}">
    </div>
    <mat-card-content>
      <p class="description">
        {{picture.description}}
      </p>
    </mat-card-content>
</mat-card>
