

<mat-sidenav-container class="pattern-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" fixedInViewport="true">
        <div>
            <button mat-button color="accent" aria-label="Home" [routerLink]="'/'"n style="margin-left:5px;">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div>
            <button mat-button color="accent" aria-label="Création de patrons" [routerLink]="'/pattern-maker'" style="margin-left:5px;">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>  
