<div class="color-wrapper">
    <app-color-palette></app-color-palette>
    <app-color-slider style="margin-left:16px"
    ></app-color-slider>
  </div>
  <div class="input-wrapper">
    <input class="text" [(ngModel)]="hexColor" (change)="hexToRgb()">
    <div
      class="color-div"
      [ngStyle]="{'background-color': colorService.color || 'white'}"
    ></div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="colorService.color" cdkFocusInitial>Ok</button>
</div>